#skillOption1 td:hover{
        background-color:#f5f5f5;
}

img[name="firstSlice"]{
        clip-path: polygon(0 0, 53.125% 53.125%, 53.125% 100%, 0% 100%);
        position:absolute;
}

img[name="secondSlice"]{
        clip-path: polygon(0 0, 100% 0, 100% 3.125%, 53.125% 53.125%);
        position:absolute;
}

img[name="thirdSlice"]{
        clip-path: polygon(53.125% 53.125%, 100% 3.125%, 100% 100%, 53.125% 100%);
        position:absolute;
}

img[name="divider"]{
        position:absolute;
}

td[name="imageCell"]{
        position:relative;
        padding-right: 44px;
}

td[name="imageName"]{
        white-space: pre;
}

[name="hiddenObj"]{
        display: none;
}

textarea{
        width: 100%;
}